Flask>=2.2.2
antspyx
pyrobex
fslpy
tensorflow==2.5.0
h5py==2.9.0
keras==2.4.3
scipy==1.7.3
matplotlib==3.5.1
nibabel==3.1.1

pydicom==2.0.0
elasticdeform
bezier

scikit-learn==1.0.2
opencv-python==4.6.0